   
        html {
            }


            body {
                margin:0;
                padding:50px;
                color: #FFF;
                background-color: #333;
                font-family: 'Denk One', sans-serif;
                line-height: 3em;
                /* background-image: url('../images/bg-pattern.jpg'); */

            }
            
                a:link {color: #5ED50B; text-decoration:none;}
                a:visited {color:#5ED50B;}  /* visited link */
                a:hover {color:#5ED50B;}  /* mouse over link */
                a:active {color:#5ED50B;}  /* selected link */

            
            
            .artuptweets {
                width:100%;
                font-size:36px;
                /* color: #ff00ff; */
                color: #CCC;

            }

            .reset {
             width:100%;
             font-size:12px;
            }

            .white {
                font-size:36px;
                color: #ffffff;
            }
            
            